.banner
  width: 100%
  .banner-content
    width: 1226px
    height: 460px
    margin: 0 auto
    background-image: url(picture/banner/banner-1.jpg)
    ul
      width: 234px
      height: 460px
      background-color: rgba(0, 0, 0, 0.6)
    li
      display: block
      width: 234px
      height: 42px
      line-height: 42px
      padding-left: 30px
    li:first-child
      padding-top: 20px
    li:hover
      background-color: red