.header-two
  position: relative
  z-index: 999
  width: 100%
  height: 100px
  .header-two-content
    position: relative
    margin: 0 auto
    width: 1226px
    height: 100px
    .left
      float: left
      display: block
      width: 234px
      height: 100px
      line-height: 100px
      text-align: center
      a
        position: absolute
        top: 22px
        left: 0
        display: block
        width: 55px
        height: 55px
        background-image: url(picture/header-two/logo.png)
    .middle
      float: left
      display: block
      height: 100px
      ul
        & > li
          display: block
          float: left
          height: 100px
          margin: 0 10px
          &:hover
            a
              color: #FF8837
            ul
              display: block
              position: absolute
              top: 100px
              left: 0
              width: 1226px
              height: 230px
              background-color: #fff
              li:nth-last-child(1)
                border: none
              li
                float: left
                display: block
                text-align: center
                width: 204px
                height: 201px
                margin: 0 0 14px 0
                font-size: 12px
                border-right: 1px solid #e0e0e0
                box-sizing: border-box
                span
                  display: inline-block
                  padding: 0 20px
                  border: 1px solid #FF8837
                a
                  font-size: 12px
                .flags-hidden
                  opacity: 0
                .product-pic
                  display: block
                  margin: 22px 22px 0
                  width: 160px
                  height: 110px
                  img
                    width: 160px
                    height: 110px
                    color: black
                .product-name
                  display: block
                  margin: 26px 22px 0
                  width: 160px
                  height: 20px
                  line-height: 20px
                  color: black
                div
                  margin: 0 22px
                  width: 160px
                  height: 20px
                  line-height: 20px
                  color: #FF8837
          ul
            display: none
          a
            height: 100px
            line-height: 100px
            font-size: 16px
    .right
      z-index: 999
      margin-top: 25px
      float: right
      position: relative
      form
        width: 296px
        height: 100px
        line-height: 50px
        box-sizing: border-box
        #search
          float: left
          box-sizing: border-box
          width: 245px
          height: 50px
          border: 1px solid #e0e0e0
          padding: 0 10px
          outline: none
          &:hover, &:hover ~ .search-bg
            border-color: #B0B0B0
          &:focus, &:focus ~ .search-bg
            border-color: #FF8837
          &:focus ~ ul
            display: block
            width: 245px
            position: absolute
            top: 50px
            left: 0
            border: 1px solid #FF8837
            border-top: none
            box-sizing: border-box
            background-color: #fff
            li
              width: 243px
              height: 30px
              line-height: 30px
              padding: 0 10px
              box-sizing: border-box
              &:hover
                background-color: #FAFAFA
            a
              display: block
              position: relative
              height: 30px
              line-height: 30px
              font-size: 12px
            span
              display: block
              position: absolute
              right: 0
              top: 0
              height: 30px
              line-height: 30px
              font-size: 12px
              color: #B0B0B0
        .search-bgi
          display: block
          width: 19px
          height: 18px
          padding: 16px
          position: absolute
          right: 1px
          top: 0
          color: black
          z-index: 1
          &:hover
            background-color: #FF8837
            color: white
        .search-bg
          float: left
          position: relative
          width: 50px
          height: 50px
          box-sizing: border-box
          border: 1px solid #e0e0e0
          border-left: none
          padding: 0
          outline: none
          background-color: #fff
        ul
          display: none